%h1 New Topic
.row
  .col-md-4
    %p Guidelines for topics:
    %ul
      %li Make sure the topic is appropriate.
      %li Never insult dogs.
      %li Smile when you type.
  .col-md-8
    = form_for @topic do |f|
      .form-group
        = f.label :title
        = f.text_field :title, class: 'form-control', placeholder: "Enter topic title"
      = f.submit "Save", class: 'btn btn-success'